<ion-tabs>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-item lines="none">
        <ion-avatar slot="end">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-title>Ciao, Salvatore</ion-title>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="arrow-up-circle-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="today">
      <ion-icon name="today-outline"></ion-icon>
      <ion-label>Today</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="details">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>Details</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
